@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-fancy-serif: "Vast Shadow", serif;
  --font-serif: "Libre Caslon Text", serif;
  --font-sans: "Public Sans", sans-serif;
  --font-fancy-sans: "Zalando Sans SemiExpanded", sans-serif;
}
